{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":24,"column":13},"end":{"row":25,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":25,"column":0},"end":{"row":25,"column":16},"action":"insert","lines":["requests==2.18.4"],"id":3}]]},"ace":{"folds":[],"scrolltop":256.79998779296875,"scrollleft":0,"selection":{"start":{"row":25,"column":16},"end":{"row":25,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":13,"state":"start","mode":"ace/mode/text"}},"timestamp":1574463247315,"hash":"4cddeab7a16a60ca18ac2df6bb2df3736b93fc5f"}