@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
nav {
    height: 100px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background-color: black;
}

/* Targeting the navbar menu items */
a.nav-link {
    color: white;
}

footer {
    height: 200px;
    background-color: orange;
}

i {
    color: black;
}

.weathercentral {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: thin;
    margin-bottom: 20px;
}

.searchbox {
    margin-bottom: 10px;
    /*margin-left: -50px;*/
}

