<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha256-c+C87jupO1otD1I5uyxV68WmSLCqtIoNlcHLXtzLCT0=" crossorigin="anonymous" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>The Weather App</title>
</head>

<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav column-reverse">
        <li class="nav-item hvr-grow">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        <li>
            <a class="nav-link hvr-grow" href="{% url 'user_homepage' %}">Search a city</a>
        </li>
        <li class="nav-item hvr-grow">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item hvr-grow">
            <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item hvr-grow">
            <a class="nav-link" href="{% url 'donations' %}">Donate!</a>
        </li>
    </ul>
</nav>
<br />
<br /> {% block donations %}{% endblock %} {% block weather %}{% endblock %} {% block weatherinfotext %}{% endblock %}



<footer class="fixed-bottom">
    <div class="container-fluid">
        <br />
        <i class="fa fa-facebook fa-3x"></i>
        <i class="fa fa-twitter fa-3x"></i>
        <i class="fa fa-instagram fa-3x"></i>
        <i class="fa fa-linkedin fa-3x"></i>
    </div>
</footer>
