<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css" integrity="sha256-c+C87jupO1otD1I5uyxV68WmSLCqtIoNlcHLXtzLCT0=" crossorigin="anonymous" />

    <title>The Weather App</title>
  </head>

 <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav column-reverse">
            <li class="nav-item hvr-grow">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item hvr-grow">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item hvr-grow">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item hvr-grow">
                <a class="nav-link" href="#">Merchandise</a>
            </li>
            <li class="nav-item hvr-grow">
                <a class="nav-link" href="#">Donate!</a>
            </li>
        </ul>
    </nav>
    <br />
<br />
{% block weather %}{% endblock %}

{% block weatherinfotext %}{% endblock %}



<footer>
</footer>
