<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <nav>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Donate</a></li>
    </nav>
    <form method="POST">
        {% csrf_token %}
        {{ login_form }}
        <button type="submit">Login</button>
    </form>
</body>
</html>